html, body{
    font-family: "Righteous", sans-serif;
    padding: 0%;
    margin: 0%;
}

body{
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6, p{
    padding: 0.8rem;
    margin: 0%;
}

/* colours: #031323, #f4f4f4, #d60000, #e61c19, #ff0000 */

/* Navbar and Title Section */
.website-header{
    font-size: 4rem;
    padding: 1rem;
    text-align: center;
    background-color: #031323;
    color: #f4f4f4;
}

.navbar{
    background-color: #e61c19;
    height: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 8fr 1fr;
}

.navbar-element{
    background-color: #d60000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-link{
    text-align: center;
    text-decoration: none;
    color: #f4f4f4;
    font-size: 1.6rem;
    font-weight: 650;
}
